<section class="container">
    <div class="row">
        <h4>Gráfica de barras</h4>
        <div class="col-sm-12">
            <canvas class="chart chart-bar" chart-data="comprobantesCtrl.data"
                    chart-labels="comprobantesCtrl.labels" chart-series="comprobantesCtrl.series">
            </canvas>
        </div>
    </div>

    <div class="row">
        <h4>Gráfica de líneas</h4>
        <div class="col-sm-12">
            <canvas class="chart chart-line" chart-data="comprobantesCtrl.data"
                    chart-labels="comprobantesCtrl.labels" chart-series="comprobantesCtrl.series">
            </canvas>
        </div>
    </div>
</section>
