<section class="container">
    <div class="row">
        <h4>Gráfica de barras</h4>
        <div class="col-sm-12">
            <canvas class="chart chart-bar" chart-data="facturasCtrl.data"
                    chart-labels="facturasCtrl.labels" chart-series="facturasCtrl.series">
            </canvas>
        </div>
    </div>

    <div class="row">
        <h4>Gráfica de líneas</h4>
        <div class="col-sm-12">
            <canvas class="chart chart-line" chart-data="facturasCtrl.data"
                    chart-labels="facturasCtrl.labels" chart-series="facturasCtrl.series">
            </canvas>
        </div>
    </div>
</section>
