<h3>Product Detail</h3>
<div class="row">
    <div class="col-md-12">
        <div class="product col-md-5">
            <div class="center-block">
                <img class="img-responsive" src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
            </div>
            <div class="row center-block">
                <a class="thumbnail col-xs-6 col-md-3">
                    <img class="img-responsive" src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
                </a>
                <a class="thumbnail col-xs-6 col-md-3">
                    <img class="img-responsive" src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
                </a>
                <a class="thumbnail col-xs-6 col-md-3">
                    <img class="img-responsive" src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
                </a>
            </div>
        </div>

        <div class="col-md-7">
            <h4>{{productDetailCtrl.product.name}}</h4>
            <div>{{productDetailCtrl.product.shortDescription}}</div>
            <div><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
            <hr>

            <h4>{{productDetailCtrl.product.price | currency}}</h4>
            <h4 class="product-stock" ng-if="productDetailCtrl.product.inStock">In Stock</h4>
            <h4 class="product-out-of-stock" ng-if="!productDetailCtrl.product.inStock">Out of Stock</h4>
            <hr>

            <form class="form-horizontal">
                <div class="form-group" ng-repeat="control in productDetailCtrl.controls">
                    <label for="{{control.name}}" class="col-sm-3 control-label">{{control.displayName}}</label>
                    <div class="col-sm-9" ng-include="control.templateUrl">

                    </div>
                </div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-success" ng-click="productDetailCtrl.addToCart()">
                        Add to cart
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 product-info">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
            <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="service-one">
                <section class="container product-info" ng-bind-html="productDetailCtrl.product.longDescription">

                </section>
            </div>
            <div class="tab-pane fade" id="service-two">
                <section class="container">

                </section>
            </div>
            <div class="tab-pane fade" id="service-three">
                <section class="container">

                </section>
            </div>
        </div>
        <hr>
    </div>
</div>




<!-- TODO: Move to another view -->
<div class="row" ng-hide="productDetailCtrl.isAddingControl">
    <div class="col-md-12 product-info">
        <div class="btn-group">
            <button type="button" class="btn btn-success" ng-click="productDetailCtrl.isAddingControl = true">
                Add Control
            </button>
        </div>
    </div>
</div>

<div class="row" ng-show="productDetailCtrl.isAddingControl">
    <div class="col-md-12 product-info">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="controlType" class="col-sm-3 control-label">Select control to add</label>
                <div class="col-sm-9">
                    <select id="controlType" name="controlType" class="form-control"
                            ng-model="productDetailCtrl.controlToAdd" ng-change="productDetailCtrl.reset()"
                            ng-options="controlAvailable as controlAvailable.typeName for controlAvailable in productDetailCtrl.controlsAvailable">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="internalName" class="col-sm-3 control-label">Internal Name</label>
                <div class="col-sm-9">
                    <input id="internalName" type="text" class="form-control" ng-model="productDetailCtrl.controlToAdd.name"
                           placeholder="Internal Name" ng-disabled="productDetailCtrl.controlToAdd.type === undefined">
                </div>
            </div>
            <div class="form-group">
                <label for="displayName" class="col-sm-3 control-label">Display Name</label>
                <div class="col-sm-9">
                    <input id="displayName" type="text" class="form-control" ng-model="productDetailCtrl.controlToAdd.displayName"
                           placeholder="Display Name" ng-disabled="productDetailCtrl.controlToAdd.type === undefined">
                </div>
            </div>

            <div ng-show="productDetailCtrl.controlToAdd.type === 'dropdown'">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" ng-click="productDetailCtrl.addValueToDropdown()">
                        Add Value
                    </button>
                </div>

                <div class="form-group" ng-repeat="dropdownValue in productDetailCtrl.controlToAdd.dropdownOptions track by $index">
                    <label for="dropdownOption{{$index}}" class="col-sm-3 control-label">Value</label>
                    <div class="col-sm-9">
                        <input id="dropdownOption{{$index}}" type="text" class="form-control" ng-model="productDetailCtrl.controlToAdd.dropdownOptions[$index].value"
                               placeholder="Value">
                    </div>
                </div>
            </div>

            <div ng-show="productDetailCtrl.controlToAdd.type === 'checkboxGroup'">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" ng-click="productDetailCtrl.addValueToCheckbox()">
                        Add Value
                    </button>
                </div>

                <div class="form-group" ng-repeat="checkBoxOption in productDetailCtrl.controlToAdd.checkBoxOptions track by $index">
                    <label for="checkBoxOption{{$index}}" class="col-sm-3 control-label">Value</label>
                    <div class="col-sm-9">
                        <input id="checkBoxOption{{$index}}" type="text" class="form-control" ng-model="productDetailCtrl.controlToAdd.checkBoxOptions[$index].name"
                               placeholder="Value">
                    </div>
                </div>
            </div>

            <div ng-show="productDetailCtrl.controlToAdd.type === 'radioButton'">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" ng-click="productDetailCtrl.addValueToRadio()">
                        Add Value
                    </button>
                </div>

                <div class="form-group" ng-repeat="checkBoxOption in productDetailCtrl.controlToAdd.radioButtonOptions track by $index">
                    <label for="radioButtonOption{{$index}}" class="col-sm-3 control-label">Value</label>
                    <div class="col-sm-9">
                        <input id="radioButtonOption{{$index}}" type="text" class="form-control" ng-model="productDetailCtrl.controlToAdd.radioButtonOptions[$index].name"
                               placeholder="Value">
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="productDetailCtrl.saveControl()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
<!-- TODO: END Move to another view -->
