<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/">Prototype</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a href ui-sref="app.home">Home</a></li>
                <li ui-sref-active="active" ng-hide="headerCtrl.user" class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href ui-sref="app.login">Login</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ui-sref="app.register">Register</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-show="headerCtrl.user"><a href ui-sref="app.actions">Actions</a></li>
                <li ui-sref-active="active" ng-show="headerCtrl.user" class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facturas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href ui-sref="app.subirFacturas">Subir Facturas</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ui-sref="app.facturas">Gráficas</a></li>
                    </ul>
                </li>
                <li ng-show="headerCtrl.user" ng-click="headerCtrl.logout()"><a href>Logout</a></li>
            </ul>
        </div>
    </div>
</div>