body {
    padding: 0;
}

textarea {
    resize: none;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Products */
.product{
    border: 1px solid #dddddd;
}

.product-stock{
    color: #74DF00;
}

.product-out-of-stock {
    color: #9f191f;
}

.product-info {
    margin-top: 30px;
}
/* END: Products */

.ta-editor {
    min-height: 40px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-hidden-input {
    display: none;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
